.tilbaka {
  padding-bottom: 0.625em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

.footer {
  display: flex;
  width: 100%;
  padding: 1em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
}
