/* breaking point skölun*/
@media (max-width: 1000px) {
  .leigan {
    margin-left: 1.5em;
  }
  .videos {
    padding-left: 7px;
    margin-bottom: 0px;
    width: 47%;
  }
  .image {
    width: 100%;
    max-width: 100%;
  }
  .lidinn {
    padding-bottom: 0px;
  }
  .duration {
    bottom: 60px;
  }
  .categories {
    margin-left: 1.5em;
  }
  .border {
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top: 10px;
  }
}

/*breaking point skölun*/
@media (max-width: 706px) {
  .leigan {
    margin-left: 0em;
  }
  .videos {
    margin-bottom: 0px;
    width: 100%;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .image {
    width: 100%;
    max-width: 100%;
  }
  .lidinn {
    padding-bottom: 0px;
  }
  .categories {
    margin-left: 0em;
  }
  .border {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
}
