.videos {
  width:31%;
  height:80%;
  margin-right:0.375em;
  margin-left: 0.875em;
  margin-bottom:1.25em;
  margin-top:1.25em;
}


.image {
  width:100%;
  max-width:100%;
  position:relative;
  z-index:2;
}
