@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  }

.heading {
  display: block;
  display: flex;
  width: 72.5em;
  max-width: 72.5em;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: rgba(255, 255, 255, 1);
}

.leigan {
  width: 100%;
  margin-left: 1em;
}

.myndbandaleigan {
  padding-bottom: 1.25em;
}

.villudiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titill {
  overflow: hidden;
  font-size: 1.125em;
  font-weight: bold;
  text-overflow: clip;
  white-space: nowrap;
  cursor: pointer;
}

.duration {
  position: absolute;
  right: 0.3125em;
  bottom: 6.875em;
  z-index: 3;
  width: 3.125em;
  height: 1.25em;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.lidinn {
  padding-top: 0.3125em;
  padding-bottom: 3.125em;
}

.flokkar {
  position: relative;
  z-index: 1;
}

.categories {
  width: 75em;
  margin-left: 1em;
}

.categoriestitill {
  padding-bottom: 0;
}

.bordi {
  width: 75%;
  padding-top: 1.875em;
  padding-bottom: 1.25em;
  margin: 0 auto;
  border-top: solid #eee;
}

.videoekkitil {
  width: 100%;
  height: 50em;
  align-items: center;
}

.villahlada {
  text-align: center;
}

.leigan_video {
  width: 100%;
  padding-bottom: 2em;
}

.myndbandaleigan_video {
  font-size: 2em;
  text-align: center;
}
