.heading{
  width: 100%;
  display: flex;
  justify-content: center;
}

.leigan {
  width:100%;
  margin-left: 1em;
}

.myndbandaleigan {
  padding-bottom:1.25em;
}

.villudiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.titill {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.duration {
  width:3.125em;
  height:1.25em;
  position:absolute;
  z-index:3;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  right:0.3125em;
  bottom:6.875em;
}

.titill {
  font-weight:bold;
  font-size:1.125em;
}
.lidinn {
  padding-bottom:3.125em;
  padding-top:0.3125em;
}

.flokkar {
  z-index:1;
  position:relative;
}



.categories {
  width:1200px;
  margin-left: 1em;
}

.categoriestitill {
  padding-bottom:0px;
}

.border {
  width:75%;
  margin:0 auto;
  border-top:solid #eee;
  padding-bottom:1.25em;
  padding-top:1.875em;
}
