

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgb(48,48,48);
  color: rgb(255,255,255);
}


main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.25em;

}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0.5em;

  width: 15%;
  max-width: 6em;
  }

button:focus {
  outline: none;
}

button img {
  max-width: 5em;
  width: 100%;
}


/*Stílerisering fyrir videosíðu*/
/*
  padding: 20px;
  color: white;
  background-color: #303030; }*/


  /* Video síður*/


  .heading{
    color:rgba(255, 255, 255, 1);
    display: block;
    max-width: 1160px;
    width:1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    }

  .headbunny {
    padding-bottom: 20px;
    margin: 0 auto;
  }

  .video{
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 100%;
  }

  .vidbtn{
    position: absolute;
    z-index: 4;
    padding: 0;
    margin: 0 auto;
    width: 10%;
  }


  .cover {
    position: absolute;
    z-index: 2;
    width: 100%;

  /*  height: 100%;*/
  /*  min-height: 662.86px;
    max-height: 662.86px;*/
  }

  .mynd {
    width: 100%;
    max-width: 1160px;
    min-width: 1160px;
    min-height: 662.86px;
    object-fit: cover;
    z-index: 3;
  }

  .sectionvid {
    width: 1200px;
    height: 662.86px;
    display: block;
  }

  .divvid {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 1160px;
    max-width: 1160px;
    min-width: 1160px;
    max-height: 662.86px;
  }

  .sectbutt {
    margin-top: 0.5em;
    padding: 1em;
    width: 1160px;
    display: flex;
    justify-content: center;

  }

  .tilbaka {
    padding-bottom:10px;
    text-decoration: none;
    color: rgb(255,255,255);
  }

  .footer {
    color: rgba(255, 255, 255, 1);
    padding: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 1200px;
  }
