

html {
  box-sizing: border-box;
  font-size: 16px;

  background-color: rgba(75, 75, 75, 1);
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

video {
  width: 100%;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  }

button:focus {
  outline: none;
}

button img {
  width: 5em;
}

takkar {
  background-color: black;
}
